@import "./src/styles/mixin";

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;

  .GBlock {
    margin: 15px;
    @include screen($tablet-w){
margin: 5px;
    }
    @include screen($tablet){
      margin: 10px;
      width: 45%;
    }
    @include screen($tablet-m){
      width: 80%;
    }
    @include screen($mobile-m){
      width: 90%;
    }


    .line1 {
      .icons {
        transform: rotate3d(0, 1, 0, 360deg) !important;
        opacity: 1 !important;
      }

      .item-header {
        margin-top: 0 !important;
        opacity: 1 !important;
      }

      .item-prg {
        margin-top: 15px !important;
        opacity: 1 !important;
      }
    }

    .block-item {
      width: 370px;
      height: 270px;
      cursor: pointer;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid rgba(57, 51, 74, 0.50);
      background: rgba(255, 255, 255, 0.03);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease-in-out;
      @include screen($wide) {
        width: 330px;
        height: 250px;
      }
      @include screen($wide-s){
        width: 280px;
        height: 240px;
      }
      @include screen($tablet-l){
        width: 210px;
        height: 200px;
        padding: 10px;
      }
      @include screen($tablet){
        width: 100%;
        height: 220px;
      }
      @include screen($tablet-m){
        height: 240px;
      }




      &:hover {
        transition: 0.5s ease-in-out;
        box-shadow: 0 20px 20px 0 rgba(8, 3, 16, 0.50);
      }

      .item-grid {
        position: absolute;
        right: 0;
        top: 0;
        @include screen($tablet-l){
          width: 150px;
        }
        @include screen($tablet-m){
          width: 200px;
        }


      }

      .item-grid2 {
        position: absolute;
        right: 0;
        bottom: 0;
        @include screen($tablet-l){
          width: 150px;
        }
        @include screen($tablet-m){
          width: 200px;
        }


      }

      .item-grid3 {
        position: absolute;
        left: 0;
        top: 0;
        @include screen($tablet-l){
          width: 150px;
        }
        @include screen($tablet-m){
          width: 200px;
        }


      }

      .icons {
        margin: 35px 165px;
        transition: 1.5s ease-in-out;
        @include screen($wide) {
          margin: 25px auto;
        }
        @include screen($wide-s){
          margin: 20px auto;
        }
        @include screen($tablet-l){
          margin: 10px auto;
        }
        @include screen($tablet){
margin: 15px auto;
        }
        @include screen($tablet-m){
          margin: 20px auto;
        }
        @include screen($mobile-m){
          margin: 10px auto;
        }



        .iconBck{
          display: flex;
          justify-content: center;
          align-items: center;
          @include screen($tablet-l){
            width: 50px;
          }
          @include screen($tablet-m){
            width: 70px;
          }
          @include screen($mobile-m){
            width: 50px;
          }


        }
        .itemIcon{
          @include screen($tablet-l){
            width: 30px;
          }
          @include screen($tablet-m){
            width: 40px;
          }
          @include screen($mobile-m){
            width: 30px;
          }


        }
        .iconText {
          font-size: 18px;
          color: #F9FB6C;
          font-family: 'Inter-Medium', sans-serif;

        }
      }

      .itemHeaderBlock {
        height: 40px;
        overflow: hidden;
        @include screen($wide) {
          height: 30px;
        }
        @include screen($wide-s){
          height: 25px;
        }
        @include screen($tablet-m){
          height: 35px;
        }



      }

      .item-header {
        transition: 1s ease-in-out;
        display: block;
        color: white;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.5px;
        font-family: 'Inter-Medium', sans-serif;
        @include screen($wide) {
          font-size: 16px;
        }
        @include screen($tablet-l){
          font-size: 15px;
        }
        @include screen($tablet){
          font-size: 16px;
        }
        @include screen($tablet-m){
          font-size: 18px;
        }
        @include screen($mobile-m){
          font-size: 16px;
        }



      }

      .itemPrgBlock {
        height: 70px;
        overflow: hidden;
        @include screen($wide-s){
height: 50px;
        }
        @include screen($tablet-l){
          height: 90px;
        }
        @include screen($tablet-m){
          height: 80px;
        }


      }

      .item-prg {
        transition: 1s ease-in-out;
        text-align: center;
        line-height: 24px;
        font-size: 15px;
        font-family: Inter-Regular, sans-serif;
        color: #F9FB6C;
        @include screen($wide) {
          font-size: 14px;
          line-height: 22px;
        }
        @include screen($wide-s){
          line-height: 20px;
          font-size: 13px;
        }
        @include screen($tablet-l){
          font-size: 12px;
          line-height: 14px;
        }
        @include screen($tablet){
          font-size: 14px;
        }
        @include screen($mobile-m){
          line-height: 16px;
        }


      }
    }

    .flippedItem {
      padding: 0 !important;
      justify-content: space-between;
      align-items: start;

      .ItemIconHeader {
        display: flex;
        align-items: center;

        .icons {
          margin: 15px 25px;
          @include screen($wide-s){
            margin: 10px 20px;
          }
          @include screen($tablet-l){
            margin: 10px;
          }

          .itemIcon{
            @include screen($tablet-l){
              width: 30px;
            }
          }
        }
        .item-header{
          @include screen($wide-s){
            font-size: 15px;
          }
          @include screen($tablet-l){
            font-size: 14px;
          }
          @include screen($tablet){
            font-size: 16px;
          }
          @include screen($tablet-m){
            font-size: 18px;
          }

        }
      }

      .findPriceButton {
        display: block;
        position: relative;
        z-index: 222;
        cursor: pointer;
        width: 90%;
        margin: 15px auto;
        border-radius: 6px;
        background: #F9FB6C;
        text-align: center;
        font-family: 'Inter-Medium', sans-serif;
        font-size: 18px;
        padding: 13px 80px;
        border: none;
        box-shadow: 0 4px 11.8px 0 rgba(249, 251, 108, 0.25);
        @include screen($wide-s){
          font-size: 16px;
          padding: 10px 40px;
        }
        @include screen($tablet-l){
          padding: 10px 20px;
          font-size: 15px;
        }

      }
    }

  }

  .discoverButton {
    @include screen($wide-s){
      font-size: 16px;
      padding: 6px 60px;
    }
    @include screen($tablet-l){
      padding: 6px 40px;
      font-size: 15px;
    }
    @include screen($tablet-m){
      padding: 6px 60px;
    }


  }
}