@import "../../styles/mixin.scss";
.ExperiencesMain {


  .programs{
    width: 100%;
    height: 200px ;
    padding-top: 70px;
    overflow: hidden;
    transition: 1.5s ease-in-out;
    @include screen($wide){
      padding-top: 30px;
      height: 110px;
    }
    @include screen($tablet-l){
      height: 100px;
    }
    @include screen($tablet-w){
      height: 90px;
    }



    .slick-arrow{
      display: none !important;
    }
    .slick-slider{
      width: 100% !important;
      .slick-list{
        width: 100% !important;
        .slick-track{
          img{
            @include screen($tablet-w){
              width: 80px;
              max-height: 40px;
            }
            @include screen($tablet-m){
              width: 60px;
            }
          }
          display: flex;
          justify-content: space-around !important;
          align-items: center;
        }
      }
    }

  }

}

.experiencesMainBlock {
  position: relative;
  .topLine {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(215, 196, 255, 0.00) 25%, rgba(215, 196, 255, 0.24) 50%, rgba(215, 196, 255, 0.00) 75%);
  }
  .vector-radialBlocksMain {
    position: absolute;
    width: 100%;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    height: 100%;

    .vector {
      position: absolute;
      margin: 0 auto;
      @include screen($wide){
        img{
          height: 70px;
        }
      }
      @include screen($mobile-m){
        img{
          height: 40px;
        }
      }


      &:nth-child(1) {
        left: 20px;
        top: 20px;
      }

      &:nth-child(2) {
        left: 300px;
        top: 0;
        @include screen($tablet){
left: 150px;
        }
      }

      &:nth-child(3) {
        right: 200px;
        top: 15px;
        @include screen($tablet){
          right: 100px;
        }
      }

      &:nth-child(4) {
        left: 115px;
        top: 315px;
        @include screen($tablet){
left: 50px;
        }
      }

      &:nth-child(5) {
        right: 120px;
        top: 525px;
        @include screen($tablet){
right: 60px;
        }
      }

      &:nth-child(6) {
        left: 20px;
        bottom: 280px;
      }

      &:nth-child(7) {
        left: 460px;
        bottom: 131px;
        @include screen($tablet){
left: 200px;
        }
      }

      &:nth-child(8) {
        right: 380px;
        bottom: 315px;
        @include screen($tablet){
right: 200px;
        }
      }

      &:nth-child(9) {
        right: 115px;
        bottom: 25px;
        @include screen($tablet){
left: 50px;
        }
      }
    }

  }
  .vector-radialBlocksAll {
    position: absolute;
    width: 100%;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    height: 100%;

    .vector {
      position: absolute;
      margin: 0 auto;

      @include screen($wide){
        img{
          height: 70px;
        }
      }
      @include screen($mobile-m){
        img{
          height: 40px;
        }
      }


      &:nth-child(1) {
        left: 220px;
        top: 110px;
      }

      &:nth-child(2) {
        left: 50px;
        top: 40%;
      }

      &:nth-child(3) {
        right: 200px;
        top: 140px;
      }

      &:nth-child(4) {
        left: 0;
        top: 50%;
      }

      &:nth-child(5) {
        right: 120px;
        top: 525px;
      }

      &:nth-child(6) {
        left: 20px;
        bottom: 280px;
      }



    }

  }
  .linear-background {
    position: absolute;
    top: -350px;
    @include screen($wide){
    top: -500px;
    }
    @include screen($tablet-w){
      top: -1000px;
    }
  }
  .header-text{
    position: relative;
    .first-header{
      color: #F9FB6C;
      text-align: center;
      margin-top: 95px;
      font-family: 'Inter-Medium', sans-serif;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      overflow: hidden;
      transition: 1.5s ease-in-out;
      @include screen($wide){
        font-size: 15px;
        margin-top: 60px;
      }
      @include screen($tablet-l){
        font-size: 14px;
        margin-top: 50px;
        height: 25px;
      }
      @include screen($tablet-w){
        font-size: 13px;
        margin-top: 40px;
      }
      @include screen($tablet){
        font-size: 12px;
        margin-top: 30px;
      }
      @include screen($mobile-m){
        font-size: 11px;
        margin-top: 25px;
      }
      .first-header-prg{
        transition: 1.5s ease-in-out;
      }
      .star{
        margin-right: 5px;
        @include screen($tablet-l){
          height: 12px;
        }
        @include screen($tablet){
height: 10px;
        }

      }
    }
    .headerBlock{
      height: 180px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      @include screen($tablet-w){
height: 120px;
      }
      @include screen($tablet){
height: 100px;
      }
      @include screen($tablet-m){
        height: 80px;
      }

    }
    .experiencesHeader{
      font-family: Inter-SemiBold, sans-serif;
      font-size: 56px;
      text-align: center;
      color: white;
      z-index: 111;
      position: relative;
      transition: 2s ease-in-out;
      @include screen($wide){
        font-size: 50px;
      }
      @include screen($tablet-l){
        font-size: 42px;
      }
      @include screen($tablet-w){
        font-size: 36px;
      }
      @include screen($tablet){
        font-size: 28px;
      }
      @include screen($tablet-m){
        font-size: 24px;
      }
      @include screen($mobile-m){
        font-size: 20px;
      }



    }
    .background-text{
      overflow: hidden;
      white-space: nowrap;
      transition: 1s ease-in-out;
      font-family: Inter-SemiBold, sans-serif;
      font-size: 120px;
      text-align: center;
      color: #24282A;
      margin-top: -75px;
      @include screen($wide){
        font-size: 96px;
        margin-top: -60px !important;
      }
      @include screen($tablet-l){
        font-size: 72px;
        margin-top: -50px !important;
      }
      @include screen($tablet-w){
        font-size: 60px;
        margin-top: -40px !important;
      }
      @include screen($tablet){
        font-size: 42px;
        margin-top: -30px !important;
      }
      @include screen($tablet-m){
        font-size: 35px;
        margin-top: -20px !important;
      }
      @include screen($mobile-m){
        font-size: 28px;
        margin-top: -20px !important;
      }



    }
  }

  .line1{
    .icons{
      transform: rotate3d(0, 1, 0, 360deg) !important;
      opacity: 1 !important;
    }
    .item-header{
      margin-top: 0 !important;
      opacity: 1 !important;
    }
    .item-prg{
      margin-top: 15px !important;
      opacity: 1 !important;
    }
  }
}