.ClientsBlock {

  background-color: #161C21;
  width: 100%;
  position: relative;
  z-index: 55;
  overflow: hidden;
  border-radius: 0 0 70px 70px;
  .clientsBlockBck{
     background-color: rgba(0, 0, 0, 0.25);
    padding: 100px 100px 20px 100px;

    .overline {
      width: 224px;
      height: 6px;
      background-color: rgba(56, 56, 56, 0.4);
      margin: 100px auto 0 auto;
      border-radius: 10px;
    }
    .clientsCondM{
      display: flex;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
    }
  }
  .ClientsCont {
    width: 45%;
    border-radius: 24px;
    background: linear-gradient(180deg, #F9FB6C 0%, rgba(47, 47, 8, 0.84) 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    position: relative;
    .clientsLine{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      transition: 0.5s ease-in-out;




      .clientsItem{
        position: relative;
        margin:8px 15px;
        width: 100%;
        border-radius: 16px;
        background: #213040;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
        padding: 30px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .moreDots{
          width: 16px;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
        .clientImg{
          border-radius: 50%;
        }
        .clientsName{
          font-family: 'Inter-Medium', sans-serif;
          font-size: 20px;
          margin-top: 16px;
          color: white;
        }
        .clientsMail{
          color: #6A7183;
          font-size: 16px;
          margin-top: 10px;
          font-family: 'Inter-Medium', sans-serif;
          img{
            margin-right: 5px;
          }
        }

        .halfBlock{
          display: flex;
          flex-direction: column;
          align-items: center;
          .Value{
            font-size: 21px;
            font-family: 'Inter-Medium', sans-serif;
            color: white;
            margin-top: 10px;
          }
          .description{
            font-size: 16px;
            color: #6A7183;
            margin-top: 3px;
            font-family: 'Inter-Medium', sans-serif;
          }
        }
        .headClients{
          font-family: 'Inter-Medium', sans-serif;
          font-size: 20px;
          color: white;
        }
        .addClientButton{
          cursor: pointer;
          border-radius: 64px;
          border: none;
          padding: 12px 35px;
          margin: 15px auto 0 auto;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 16px;
          color: white;
          background:  rgba(255, 255, 255, 0.10);
        }
      }

      .middleItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }


    }
  }

  .ClientsTextCont {
    width: 45%;
    padding: 40px;

    .textHeaderBlock{
      height: 150px;
      overflow: hidden;
      .clientsTextHeader{
        transition: 0.5s ease-in-out;
        font-family: 'Inter-Medium', sans-serif;
        font-size: 38px;
        color: white;
        max-width: 400px;
        display: block;
      }
    }

    .ideasClients{
      margin-top: 48px;

      .ideaLine{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 24px;
        height: 60px;
        overflow: hidden;
        .ideaText{
          color: #7E8597;
          font-size: 18px;
          font-family: 'Inter-Medium', sans-serif;
          transition: 0.5s ease-in-out;
        }
        .circle{
          transition: 0.5s ease-in-out;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #F9FB6C;
          margin-right: 16px;
        }
      }
    }
    .letsTalkUsButton{
      margin-top: 24px;
    }

  }
}