@import "../../styles/mixin.scss";

.ClientsBlock {

  background-color: #161C21;
  width: 100%;
  position: relative;
  z-index: 55;
  overflow: hidden;
  border-radius: 0 0 70px 70px;
  @include screen($tablet){
    border-radius: 0 0 40px 40px;
  }

  .clientsBlockBck{
     background-color: rgba(0, 0, 0, 0.25);
    padding: 100px 100px 20px 100px;
    @include screen($wide){
      padding: 50px;
    }
    @include screen($desktop){
      padding: 30px;
    }
    @include screen($tablet-m){
      padding: 30px 20px;
    }
    @include screen($mobile-m){
      padding: 20px 10px;
    }

    .overline {
      width: 224px;
      height: 6px;
      background-color: rgba(56, 56, 56, 0.4);
      margin: 100px auto 0 auto;
      border-radius: 10px;
    }
    .clientsCondM{
      display: flex;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
      @include screen($tablet-w){
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  .ClientsCont {
    width: 45%;
    border-radius: 24px;
    background: linear-gradient(180deg, #F9FB6C 0%, rgba(47, 47, 8, 0.84) 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    position: relative;
    @include screen($wide-l){
      width: 50%;
      padding: 0 10px;
    }
    @include screen($desktop){
      width: 60%;
    }
    @include screen($tablet-w){
      width: 80%;
    }
    @include screen($tablet){
      width: 90%;
    }
    @include screen($tablet-m){
      width: 95%;
    }




    .clientsLine{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      transition: 0.5s ease-in-out;
      @include screen($wide-l){
        width: 48%;
      }
      @include screen($tablet-w){
        width: 42%;
      }
      @include screen($tablet){
        width: 46%;
      }
      @include screen($tablet-m){
        width: 48%;
      }







      .clientsItem{
        position: relative;
        margin:8px 15px;
        width: 100%;
        border-radius: 16px;
        background: #213040;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
        padding: 30px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include screen($wide-l){
          margin: 5px 10px;
        }
        @include screen($wide){
          padding: 20px 15px;
        }
        @include screen($tablet){
          padding: 15px 10px;
        }
        @include screen($tablet-m){
          padding: 10px 5px;
        }
        @include screen($mobile-m){
          margin: 5px 10px;
        }




        .moreDots{
          width: 16px;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          @include screen($tablet){
            top: 15px;
            right: 15px;
          }
          @include screen($mobile-m){
            top: 10px;
            right: 10px;
          }


        }
        .clientImg{
          border-radius: 50%;
          @include screen($wide){
            height: 50px;
            width: 50px;
          }
          @include screen($tablet){
            width: 40px;
            height: 40px;
          }
          @include screen($mobile-m){
            width: 30px;
            height: 30px;
          }


        }
        .clientsName{
          font-family: 'Inter-Medium', sans-serif;
          font-size: 20px;
          margin-top: 16px;
          color: white;
          @include screen($wide){
            font-size: 18px;
          }
          @include screen($tablet){
            font-size: 16px;
          }
          @include screen($tablet-m){
            font-size: 15px;
          }
          @include screen($mobile-m){
            font-size: 13px;
          }


        }
        .clientsMail{
          color: #6A7183;
          font-size: 16px;
          margin-top: 10px;
          font-family: 'Inter-Medium', sans-serif;
          @include screen($wide){
            font-size: 15px;
          }
          @include screen($tablet){
            font-size: 14px;
          }
          @include screen($tablet-m){
            font-size: 13px;
          }
          @include screen($mobile-m){
            font-size: 11px;
          }


          img{
            margin-right: 5px;
          }
        }

        .halfBlock{
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            @include screen($wide){
              width: 30px;
            }
            @include screen($tablet){
              width: 20px;
            }
            @include screen($mobile-m){
              width: 15px;
            }


          }
          .Value{
            font-size: 21px;
            font-family: 'Inter-Medium', sans-serif;
            color: white;
            margin-top: 10px;
            @include screen($wide){
              font-size: 18px;
            }
            @include screen($tablet){
              font-size: 16px;
            }
            @include screen($tablet-m){
              font-size: 14px;
            }
            @include screen($mobile-m){
              font-size: 13px;
            }



          }
          .description{
            font-size: 16px;
            color: #6A7183;
            margin-top: 3px;
            font-family: 'Inter-Medium', sans-serif;
            @include screen($wide){
              font-size: 15px;
            }
            @include screen($tablet){
              font-size: 14px;
            }
            @include screen($tablet-m){
              font-size: 12px;
            }
            @include screen($mobile-m){
              font-size: 11px;
            }



          }
        }
        .headClients{
          font-family: 'Inter-Medium', sans-serif;
          font-size: 20px;
          color: white;
          @include screen($wide){
            font-size: 18px;
          }
          @include screen($tablet){
            font-size: 16px;
          }
          @include screen($tablet-m){
            font-size: 14px;
          }
          @include screen($mobile-m){
            font-size: 13px;
          }



        }
        .addClientButton{
          cursor: pointer;
          border-radius: 64px;
          border: none;
          padding: 12px 35px;
          margin: 15px auto 0 auto;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 16px;
          color: white;
          background:  rgba(255, 255, 255, 0.10);
          @include screen($wide){
            padding: 10px 25px;
            font-size: 15px;
          }
          @include screen($tablet){
            padding: 8px 15px;
            font-size: 14px;
          }
          @include screen($tablet-m){
            padding: 6px 12px;
            font-size: 12px;
          }



        }
      }

      .middleItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include screen($tablet){
          justify-content: space-around;
        }

      }


    }
  }

  .ClientsTextCont {
    width: 45%;
    padding: 40px;
    @include screen($wide){
padding: 30px;
    }
    @include screen($desktop){
      padding: 20px;
    }
    @include screen($tablet-w){
      margin: 40px auto;
      width: 80%;
      text-align: center;
    }
    @include screen($tablet){
      padding: 20px;
    }
    @include screen($tablet-m){
      width: 95%;
    }




    .textHeaderBlock{
      height: 150px;
      overflow: hidden;
      @include screen($desktop){
        height: 100px;
      }

      .clientsTextHeader{
        transition: 0.5s ease-in-out;
        font-family: 'Inter-Medium', sans-serif;
        font-size: 38px;
        color: white;
        max-width: 400px;
        display: block;
        @include screen($wide){
          font-size: 32px;
        }
        @include screen($desktop){
          font-size: 28px;
        }
        @include screen($tablet-w){
          margin: 0 auto;
        }
        @include screen($tablet-m){
          font-size: 24px;
        }
        @include screen($mobile-m){
          font-size: 20px;
        }



      }
    }

    .ideasClients{
      margin-top: 48px;
      @include screen($wide){
        margin-top: 35px;
      }
      @include screen($desktop){
        margin-top: 25px;
      }
      @include screen($tablet-w){
        margin-top: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      @include screen($tablet-m){
        margin-top: 15px;
      }




      .ideaLine{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 24px;
        height: 60px;
        overflow: hidden;
        @include screen($wide){
height: 50px;
        }
        @include screen($tablet-m){
          height: 40px;
        }



        .ideaText{
          color: #7E8597;
          font-size: 18px;
          font-family: 'Inter-Medium', sans-serif;
          transition: 0.5s ease-in-out;
          @include screen($wide){
            font-size: 16px;
          }
          @include screen($desktop){
            font-size: 15px;
          }
          @include screen($tablet){
            font-size: 14px;
          }
          @include screen($tablet-m){
            font-size: 13px;
          }
          @include screen($mobile-m){
            font-size: 12px;
          }



        }
        .circle{
          transition: 0.5s ease-in-out;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #F9FB6C;
          margin-right: 16px;
          @include screen($wide){
            margin-right: 12px;
          }
          @include screen($desktop){
            width: 40px;
            height: 40px;
            img{
              width: 20px;
            }
          }
          @include screen($mobile-m){
            width: 30px;
            height: 30px;
            img{
              width: 15px;
            }
          }


        }
      }
    }
    .letsTalkUsButton{
      margin-top: 24px;
      padding: 10px 80px;
      @include screen($desktop){
        padding: 10px 50px;
        font-size: 18px;
      }
      @include screen($tablet-w){
        padding: 8px 30px;
        font-size: 16px;
        margin: 0 auto;
      }
      @include screen($mobile-m){
        padding: 5px 20px;
        font-size: 14px;
      }



    }

  }
}