@import "./src/font/font.scss";
@import "../../styles/mixin";


.homeMain {
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 100px;
  @include screen($wide-m) {
    padding-top: 50px;
  }


  .mainBlock {
    margin-top: 85px;
    position: relative;
    display: flex;

    @include screen($wide-m) {
      margin-top: 50px;
    }

    .circle {
      transition: 2.5s ease-in-out;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 710px;
      height: 710px;
      z-index: 1;
      border-radius: 50%;
      background: linear-gradient(#161C21, #161C21) padding-box,
      linear-gradient(to bottom, #D7D2FF25, rgba(215, 229, 255, 0)) border-box;
      border: 2px solid transparent;
      @include screen($wide-m) {
        width: 600px;
        height: 600px;
      }
    }


    .header-img {
      z-index: 2;
      width: 100%;
      position: relative;
      justify-content: center;
      margin-top: 55px;
      margin-bottom: 275px;
      @include screen($wide-m) {
        margin-top: 20px;
      }

      .header {
        position: relative;

        .prgBlock {
          width: 100%;
          height: 50px;
          margin-top: 35px;
          overflow: hidden !important;
          display: flex;
          justify-content: center;
          align-items: center;
          @include screen($wide-l){
            margin-top: 25px;
          }

          .header-prg {
            color: #9F9F9F;
            font-family: 'Inter-Medium', sans-serif;
            font-size: 20px;
            transition: 2s ease-in-out;
            @include screen($wide-l){
              font-size: 18px;
            }
          }
        }

        .lineBlock {
          width: 100%;
          justify-content: center;
          overflow: hidden !important;
          height: 130px;
          align-items: center;
          display: flex;
          @include screen($wide-m){
            height: 100px;
          }


          .headerLine {
            font-size: 123px;
            font-family: 'Inter-Bold', sans-serif;
            color: white;
            transition: 2s ease-in-out;
            @include screen($wide-m){
              font-size: 100px;
            }
          }
        }

        .headerUnderLine {
          position: absolute;
          left: 50%;
          bottom: 70px;
          width: 600px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          @include screen($wide-m){
            width: 500px;
            bottom: 60px;
          }

          .line {
            height: 10px;
            background-color: #F9FB6C;
            border-radius: 15px;
            transition: 1s ease-in-out;

          }

          .line1 {
            width: 100%;
            transform: rotate(-2deg);
          }

          .line2 {
            margin-top: 8px;
            transform: rotate(-5deg);
            width: 100%;
            display: flex;
            justify-content: end;
            @include screen($wide-l){
              margin-top: 5px;
            }
          }
        }
      }


      .header-fyTechnology {
        font-size: 120px;
        font-family: 'Inter-ExtraBold', sans-serif;
        color: white;
        position: absolute;
        top: 60px;
        left: -50px;
      }

      .header-ball {
        margin-top: 105px;
        margin-left: 100px;
        height: 485px;
        filter: grayscale(100%);
      }
    }

    .backgroundLines {
      transition: 1.5s ease-in-out;
      position: absolute;
      bottom: 0;
      height: 800px;
      left: -120px;
      width: 100%;
      z-index: 1;

      .line {
        fill: rgba(138, 211, 255, 0.08);
        position: absolute;
        left: 0;
        top: 0;

        &:nth-child(2) {
          top: 5px
        }

        &:nth-child(3) {
          top: 10px
        }
      }
    }

    .logo-block {
      z-index: 22;
      position: absolute;
      bottom: -50px;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: end;
      transition: 1s ease-in-out;
      @include screen($wide){
        bottom: 20px;
      }

      .logo {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 222;
        width: 800px;
        height: 500px;
        display: block;
        margin: 0 auto;
        background-position: center;
        @include screen($wide-l){
          width: 600px;
          height: 375px;
        }
        @include screen($wide){
          width: 400px;
          height: 250px;
        }
      }
    }

  }
}