@import "../../styles/mixin.scss";
.ReviewCont{
  z-index: 54;
  position: relative;
  background-color: #161C21;
  .reviewContBck{
    width: 100%;
    padding: 150px 0;
    background-color: rgba(0, 0, 0, 0.25);
    @include screen($wide){
      padding: 80px 0;
    }
  }
  .Review1{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include screen($wide){
        padding: 20px;
    }

    .imageBlock{
      .img{
        border-radius: 10px;
        @include screen($wide){
            width: 350px;
        }
        @include screen($wide-s){
width: 300px;
        }
      }
    }
    .reviewTextBlock{
      padding: 30px 70px;
      width: 70%;
      .quotes{
        font-family: 'Inter-Medium', sans-serif;
        font-size: 152px;
        color: #F9FB6C;
        line-height: 130px;
        @include screen($wide){
          font-size: 100px;
          line-height: 100px;
        }
        @include screen($wide-s){
          font-size: 80px;
          line-height: 80px;
        }
      }
      .reviewPrgBlock{
        overflow: hidden;
        height: 220px;
        @include screen($wide){
height: 180px;
        }
        @include screen($wide-s){
height: 200px;
        }
        .reviewPrg{
          transition: 1s ease-in-out;
          color: white;
          line-height: 52px;
          font-size: 37px;
          font-family: 'Inter-Medium', sans-serif;
          @include screen($wide){
            font-size: 32px;
            line-height: 40px;
          }
        }
      }

      .name-buttons{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name-work{
          height: 60px;
          overflow: hidden;
          @include screen($wide){
height: 50px;
          }
          .name{
            transition: 1s ease-in-out;
            font-size: 24px;
            font-family: 'Inter-Medium', sans-serif;
            color: white;
            line-height: 32px;
            @include screen($wide){
              font-size: 20px;
              line-height: 26px;
            }
          }
          .work{
            transition: 1.2s ease-in-out;
            font-size: 18px;
            font-family: 'Inter-Medium', sans-serif;
            color: rgba(255, 255, 255, 0.60);
            line-height: 32px;
            @include screen($wide){
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
        .buttons{
          display: flex;
          align-items: center;
          .button{
            margin: 20px;
            @include screen($wide){
margin: 15px;
            }
          }
        }
      }
    }
  }
}