@import "../../styles/mixin.scss";
.ReviewCont{
  z-index: 54;
  position: relative;
  background-color: #161C21;
  .reviewContBck{
    width: 100%;
    padding: 150px 0;
    background-color: rgba(0, 0, 0, 0.25);
    @include screen($wide){
      padding: 80px 0;
    }
    @include screen($desktop){
      padding: 60px 0;
    }
  }
  .Review1{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include screen($wide){
        padding: 20px;
    }
    @include screen($desktop){
      padding: 10px;
    }
    @include screen($tablet-m){
      flex-wrap: wrap;
      justify-content: center;
    }


    .imageBlock{
      .img{
        border-radius: 10px;
        @include screen($wide){
            width: 350px;
        }
        @include screen($wide-s){
width: 300px;
        }
        @include screen($desktop){
          width: 250px;
        }
        @include screen($tablet){
          width: 200px;
        }


      }
    }
    .reviewTextBlock{
      padding: 30px 70px;
      width: 70%;
      @include screen($desktop){
        width: 75%;
        padding: 20px 40px;
      }
      @include screen($tablet-w){
        padding: 10px 20px;
      }
      @include screen($tablet-m){
        width: 90%;
      }



      .quotes{
        font-family: 'Inter-Medium', sans-serif;
        font-size: 152px;
        color: #F9FB6C;
        line-height: 130px;
        @include screen($wide){
          font-size: 100px;
          line-height: 100px;
        }
        @include screen($wide-s){
          font-size: 80px;
          line-height: 80px;
        }
        @include screen($desktop){
          font-size: 60px;
          line-height: 60px;
        }
        @include screen($tablet-m){
          font-size: 50px;
          line-height: 50px;
        }


      }
      .reviewPrgBlock{
        overflow: hidden;
        height: 220px;
        @include screen($wide){
height: 180px;
        }
        @include screen($wide-s){
height: 200px;
        }
        @include screen($tablet-w){
          height: 180px;
        }
        @include screen($mobile-m){
          height: 140px;
        }

        .reviewPrg{
          transition: 1s ease-in-out;
          color: white;
          line-height: 52px;
          font-size: 37px;
          font-family: 'Inter-Medium', sans-serif;
          @include screen($wide){
            font-size: 32px;
            line-height: 40px;
          }
          @include screen($desktop){
            font-size: 28px;
            line-height: 32px;
          }
          @include screen($tablet-w){
            font-size: 24px;
            line-height: 26px;
          }
          @include screen($tablet-m){
            font-size: 22px;
            line-height: 24px;
          }
          @include screen($mobile-m){
            font-size: 18px;
            line-height: 20px;
          }


        }
      }

      .name-buttons{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include screen($desktop){
          margin-top: 30px;
        }
        @include screen($tablet-m){
          margin-top: 15px;
        }


        .name-work{
          height: 60px;
          overflow: hidden;
          @include screen($wide){
height: 50px;
          }
          .name{
            transition: 1s ease-in-out;
            font-size: 24px;
            font-family: 'Inter-Medium', sans-serif;
            color: white;
            line-height: 32px;
            @include screen($wide){
              font-size: 20px;
              line-height: 26px;
            }
            @include screen($desktop){
              font-size: 18px;
              line-height: 22px;
            }
            @include screen($tablet-m){
              font-size: 16px;
              line-height: 18px;
            }


          }
          .work{
            transition: 1.2s ease-in-out;
            font-size: 18px;
            font-family: 'Inter-Medium', sans-serif;
            color: rgba(255, 255, 255, 0.60);
            line-height: 32px;
            @include screen($wide){
              font-size: 16px;
              line-height: 26px;
            }
            @include screen($desktop){
              font-size: 14px;
              line-height: 22px;
            }
            @include screen($tablet-m){
              font-size: 12px;
              line-height: 16px;
            }


          }
        }
        .buttons{
          display: flex;
          align-items: center;
          .button{
            margin: 20px;
            @include screen($wide){
margin: 15px;
            }
            @include screen($desktop){
              margin: 10px;
            }
            @include screen($tablet-m){
              margin: 5px;
            }


          }
        }
      }
    }
  }
}