@import "../../styles/mixin.scss";
.ourTeamCont{
  position: relative;
  background-color: #161C21;
  z-index: 56;
  .ourTeamContBck{
    background-color: rgba(0, 0, 0, 0.25);


  }
  .mapImg{
    position: absolute;
    top: -120px;
    z-index: 1;
    @include screen($desktop){
      top: -50px;
    }
    @include screen($tablet-w){
      top: 0;
    }
    @include screen($tablet-m){
      top: 50px;
    }
  }
  .mapLine{
    position: absolute;
    top: 100px;
    z-index: 1;
    @include screen($desktop){
      top: 0;
    }

  }

  .ourTeamContent{
    z-index: 11;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    @include screen($wide){
      padding: 20px;
    }
    @include screen($tablet){
      display: flex;
      flex-wrap: wrap;

    }


    .contentTextBlock{
      width: 30%;
      @include screen($tablet){
        width: 90%;
        margin: 0 auto;
      }

      .ourTeamHeaderBlock{
        overflow: hidden;
        height: 120px;
        @include screen($wide-m){
          height: 100px;
        }
        @include screen($wide){
          height: 80px;
        }
        @include screen($tablet){
          height: 30px;
        }
        @include screen($tablet-m){
          height: 50px;
        }




        .ourTeamHeader{
          transition: 1s ease-in-out;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 48px;
          background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include screen($wide-m){
            font-size: 40px;
          }
          @include screen($wide){
            font-size: 36px;
          }
          @include screen($wide-s){
            font-size: 32px;
          }
          @include screen($tablet-l){
            font-size: 28px;
          }
          @include screen($tablet-w){
            font-size: 22px;
          }
          @include screen($tablet){
            font-size: 26px;
          }
          @include screen($tablet-m){
            font-size: 22px;
          }
          @include screen($mobile-m){
            font-size: 18px;
          }
        }
      }

      .ourTeamPrgBlock{
        margin-top: 24px;
        overflow: hidden;
        height: 140px;
        @include screen($wide){
          height: 150px;
          margin-top: 15px;
        }
        @include screen($tablet-w){
          height: 180px;
        }
        @include screen($tablet){
          height: 120px;
        }
        @include screen($tablet-m){
          height: 130px;
        }



        .ourTeamPrg{
          color: #9B9B9B;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 16px;
          transition: 1s ease-in-out;
          @include screen($wide){
            font-size: 15px;
          }
          @include screen($tablet-l){
            font-size: 14px;
          }
          @include screen($tablet-w){
            font-size: 13px;
          }
          @include screen($tablet){
            font-size: 14px;
          }
          @include screen($tablet-m){
            font-size: 13px;
          }
          @include screen($mobile-m){
            font-size: 12px;
          }




        }
      }

    }

    .leadersBlock{
      width: 65%;
      @include screen($tablet){
        width: 90%;
        margin: 0 auto;
      }

      .overHeaderBlock{
        overflow: hidden;
        height: 20px;
        .overHeader{
          transition: 1s ease-in-out;
          display: flex;
          color: #F9FB6C;
          font-family: 'Inter-Medium', sans-serif;
          font-size: 16px;
          @include screen($wide){
            font-size: 15px;
          }
          @include screen($tablet-l){
            font-size: 14px;
          }
          @include screen($tablet){
            font-size: 15px;
          }
          @include screen($tablet-m){
            font-size: 13px;
          }
          @include screen($mobile-m){
            font-size: 12px;
          }




        }
      }


      .leadersCont{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        @include screen($wide){
          margin-top: 30px;
        }

        @include screen($tablet){
          margin-top: 10px;
        }




        .peopleImg{
          &:nth-child(1){
            border-radius: 16px 0 0 16px;
          }
          &:nth-child(6){
            border-radius: 0 16px 16px 0;
          }
          width: 16%;
          height: 300px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
         transform: translateY(400px);
          opacity: 0;
          @include screen($wide){
            height: 200px;
          }
          @include screen($tablet-l){
            height: 180px;
          }
          @include screen($tablet-w){
            height: 150px;
          }
          @include screen($tablet){
            height: 180px;
          }
          @include screen($tablet-m){
            height: 120px;
          }
          @include screen($mobile-m){
            height: 100px;
          }







        }
      }
    }
  }
}