@import "../../styles/mixin.scss";
.CollabPartnershipBlock{
  position: relative;
  min-height: 200vh;

  @include screen($wide-l){
    min-height: 210vh;
  }

  @include screen($wide){
    min-height: 180vh;
  }
  @include screen($desktop){
    min-height: 215vh;
  }
  @include screen($tablet-l){
    min-height: 170vh;
  }
  @include screen(950px){
    min-height: 160vh;
  }
  @include screen($tablet-w){
    min-height: 190vh;
  }
  @include screen($tablet){
    min-height: 180vh;
  }
  @include screen($tablet-m){
    min-height: 290vh;
  }
  @include screen($mobile-m){
    min-height: 295vh;
  }
@include screen(350px){
  min-height: 350vh;
}
}
.CollabPartnership {
  padding-top: 130px;
  will-change: opacity;
  pointer-events: all;
  width: 100%;
  @include screen($tablet-l){
    padding: 100px 10px 10px 10px;
  }
  @include screen($tablet){
    padding: 80px 10px 10px 10px;
  }



  .headerBlock {
    height: 70px;
    overflow: hidden;
    @include screen($tablet-l){
      height: 60px;
    }
    @include screen($tablet-w){
      height: 50px;
    }
    @include screen($tablet-m){
      height: 60px;
    }




    .collabHeader {
      margin-top: 100px;
      transition: 1.5s ease-in-out;
      text-align: center;
      font-family: Inter-SemiBold, sans-serif;
      font-size: 56px;
      color: white;
      background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include screen($wide){
        font-size: 50px;
        margin-top: 60px;
      }
      @include screen($tablet-l){
        font-size: 40px;
        margin-top: 40px;
      }
      @include screen($tablet-w){
        font-size: 32px;
        margin-top: 30px;
      }
      @include screen($tablet){
        font-size: 26px;
        margin-top: 20px;
      }
      @include screen($tablet-m){
        font-size: 22px;
      }




    }
  }

  .collabBlock {
    z-index: 2;
    max-width: 1400px;
    margin: 50px auto;
    padding: 0 100px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #3C3D21;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 20px 20px 0 rgba(8, 3, 16, 0.50);
    position: relative;
    @include screen($wide){
      padding: 0 80px;
      height: 400px;
    }
    @include screen($tablet-l){
      height: auto;
      margin: 40px auto;
      padding: 0 40px;
    }
    @include screen($tablet-w){
      padding: 10px 30px;
      margin: 30px auto;
    }
    @include screen($tablet){
      margin: 20px auto;
      padding: 10px;
    }


    .collabBlockStars {
      position: absolute;
      left: 10%;
      top: 10%;

      &:nth-child(2) {
        left: 40%;
        bottom: 0;
      }
    }

    .grid-img {
      right: 0;
      top: 0;
      position: absolute;
      @include screen($tablet){
        width: 200px;
      }

    }

    .CDE-block {
      margin: 70px 0 35px 0;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px 12px;
      border-radius: 20px;
      max-width: 250px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: radial-gradient(70.71% 70.71% at 50% 50%, #5C5C5B 0%, rgba(105, 106, 52, 0.00) 100%), rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 4px 3px rgba(168, 128, 255, 0.10) inset;
      @include screen($wide){
        margin: 35px 0;
      }
      @include screen($tablet-l){
        margin: 25px;
        max-width: 200px;
      }
      @include screen($tablet){
        margin: 15px;
        padding: 4px 10px;
      }
      @include screen($mobile-m){
        margin: 10px;
      }


      .CDE-text {
        color: white;
        font-family: Inter-Regular, sans-serif;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        margin-left: 5px;
        transition: 1s ease-in-out;
        white-space: nowrap;
        @include screen($wide){
          font-size: 13px;
          line-height: 20px;
        }
        @include screen($tablet-l){
          font-size: 12px;
        }
        @include screen($tablet){
          font-size: 11px;
          line-height: 14px;
        }


      }
    }

    .reverse {
      flex-direction: row-reverse !important;
    }

    .img-text-block {
      display: flex;
      justify-content: start;
      @include screen($tablet-m){
        flex-direction: column !important;
        align-items: center;
      }


      .imageText {
        position: relative;
        width: 20%;
        margin-right: 90px;
        @include screen($wide){
          margin-right: 70px;
        }
        @include screen($tablet-l){
          margin-right: 50px;
        }
        @include screen($tablet){
          width: 25%;
        }
        @include screen($tablet-m){
          width: 60%;
        }


        img{
          @include screen($tablet-l){
            width: 180px;
            height: 180px;
            margin-top: 20px;
          }
          @include screen($tablet){
            width: 150px;
          }
          @include screen($tablet-m){
            width: 100%;
          }



        }


        .imgText {
          transition: 1.5s ease-in-out;
          position: absolute;
          top: 20px;
          font-family: Inter-SemiBold, sans-serif;
          font-size: 120px;
          opacity: 0.4;
          background: linear-gradient(270deg, #DDE064 5.05%, #B0B09E 52.41%, #BDC0A1 95.33%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include screen($wide){
            font-size: 96px;
            top: 40px;
          }
          @include screen($tablet-l){
            font-size: 72px;
          }
          @include screen($tablet){
            font-size: 60px;
            margin: 10px 0 0 10px;
          }
          @include screen($tablet-m){
            font-size: 72px;
            left: 20%;
          }



        }
      }

      .header-prg {
        width: 60%;
        margin-right: 90px;
        @include screen($desktop){
          width: 70%;
        }
        @include screen($tablet-w){
          margin-right: 40px;
        }
        @include screen($tablet){
          margin-right: 30px;
        }
        @include screen($tablet-m){
          width: 90%;
          margin: 0 auto;
        }






        .itemHeaderBlock {
          overflow: hidden;
          height: 50px;
          margin-bottom: 20px;
          @include screen($wide){
height: 35px;
          }
          @include screen($tablet-l){
            height: 30px;
          }
          @include screen($tablet){
            height: 25px;
          }


          .item-header {

            transition: 1.5s ease-in-out;
            color: white;
            display: block;
            font-size: 24px;
            font-family: Inter-Medium, sans-serif;
            @include screen($wide){
              font-size: 22px;
            }
            @include screen($tablet-l){
              font-size: 20px;
            }
            @include screen($tablet){
              font-size: 18px;
            }
            @include screen($tablet-m){
              font-size: 22px;
            }
            @include screen($mobile-m){
              font-size: 20px;
            }




          }
        }

        .itemPrgBlock {
          overflow: hidden;
          height: 100px;
          margin-bottom: 40px;
          @include screen($wide){
            margin-bottom: 20px;
            height: 140px;
          }
          @include screen($tablet-l){
            height: 100px;
          }
          @include screen($tablet-w){
            height: 130px;
          }
          @include screen($tablet){
            height: 160px;
          }
          @include screen($tablet-m){
            height: 160px;
          }




          .item-prg {
            transition: 1.5s ease-in-out;
            overflow: hidden;
            color: #F9FB6C;
            font-size: 16px;
            line-height: 24px;
            font-family: Inter-Regular, sans-serif;
            @include screen($wide){
              font-size: 15px;
              line-height: 22px;
            }
            @include screen($desktop){
              font-size: 14px;
              line-height: 20px;
            }
            @include screen($tablet-l){
              font-size: 13px;
              line-height: 16px;
            }
            @include screen($tablet){
              font-size: 12px;
            }
            @include screen($tablet-m){
              font-size: 14px;
            }
            @include screen($mobile-m){
              font-size: 12px;
            }




          }
        }

        .buttonBlock{
          .item-button{
            transition: 1.5s ease-in-out;
            @include screen($wide){
              padding: 15px 25px !important;
              font-size: 14px;
            }
            @include screen($tablet-l){
              margin: 15px;
            }
            @include screen($tablet){
              font-size: 12px !important;
              padding: 10px 20px !important;
            }
            @include screen($mobile-m){
              margin: 15px auto !important;
            }



          }

        }

      }
    }
  }

  .ball1 {
    fill: lightgray;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 1;
    @include screen($wide){
      width: 30%;
    }
  }

  .ball2 {
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 1;
    @include screen($wide){
width: 20%;
    }
  }

  .ball3 {
    position: absolute;
    right: 0;
    top: 70%;
    @include screen($wide){
width: 20%;
    }
  }

  .vector {
    position: absolute;
    @include screen($wide){
      img{
        height: 70px;
      }
    }

    &:nth-last-child(1) {
      top: 47%;
      left: 17%;
    }

    &:nth-last-child(2) {
      left: 17%;
      transform: scale(1, -1);
    }
  }
}