@import "../../styles/mixin.scss";
.CollabPartnershipBlock{
  position: relative;
  min-height: 200vh;

  @include screen($wide-l){
    min-height: 210vh;
  }

  @include screen($wide){
    min-height: 180vh;
  }

}
.CollabPartnership {
  padding-top: 130px;
  will-change: opacity;
  pointer-events: all;
  width: 100%;


  .headerBlock {
    height: 70px;
    overflow: hidden;

    .collabHeader {
      margin-top: 100px;
      transition: 1.5s ease-in-out;
      text-align: center;
      font-family: Inter-SemiBold, sans-serif;
      font-size: 56px;
      color: white;
      background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include screen($wide){
        font-size: 50px;
        margin-top: 60px;
      }
    }
  }

  .collabBlock {
    z-index: 2;
    max-width: 1400px;
    margin: 50px auto;
    padding: 0 100px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #3C3D21;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 20px 20px 0 rgba(8, 3, 16, 0.50);
    position: relative;
    @include screen($wide){
      padding: 0 80px;
      height: 400px;
    }
    .collabBlockStars {
      position: absolute;
      left: 10%;
      top: 10%;

      &:nth-child(2) {
        left: 40%;
        bottom: 0;
      }
    }

    .grid-img {
      right: 0;
      top: 0;
      position: absolute;
    }

    .CDE-block {
      margin: 70px 0 35px 0;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 5px 12px;
      border-radius: 20px;
      max-width: 250px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: radial-gradient(70.71% 70.71% at 50% 50%, #5C5C5B 0%, rgba(105, 106, 52, 0.00) 100%), rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 4px 3px rgba(168, 128, 255, 0.10) inset;
      @include screen($wide){
        margin: 35px 0;
      }
      .CDE-text {
        color: white;
        font-family: Inter-Regular, sans-serif;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        margin-left: 5px;
        transition: 1s ease-in-out;
        white-space: nowrap;
        @include screen($wide){
          font-size: 13px;
          line-height: 20px;
        }
      }
    }

    .reverse {
      flex-direction: row-reverse !important;
    }

    .img-text-block {
      display: flex;
      justify-content: start;

      .imageText {
        position: relative;
        width: 20%;
        margin-right: 90px;
        @include screen($wide){
          margin-right: 70px;
        }

        .imgText {
          transition: 1.5s ease-in-out;
          position: absolute;
          top: 20px;
          font-family: Inter-SemiBold, sans-serif;
          font-size: 120px;
          opacity: 0.4;
          background: linear-gradient(270deg, #DDE064 5.05%, #B0B09E 52.41%, #BDC0A1 95.33%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include screen($wide){
            font-size: 96px;
            top: 40px;
          }
        }
      }

      .header-prg {
        width: 60%;
        margin-right: 90px;
        @include screen($desktop){
          width: 70%;
        }

        .itemHeaderBlock {
          overflow: hidden;
          height: 50px;
          margin-bottom: 20px;
          @include screen($wide){
height: 35px;
          }
          .item-header {

            transition: 1.5s ease-in-out;
            color: white;
            display: block;
            font-size: 24px;
            font-family: Inter-Medium, sans-serif;
            @include screen($wide){
              font-size: 22px;
            }
          }
        }

        .itemPrgBlock {
          overflow: hidden;
          height: 100px;
          margin-bottom: 40px;
          @include screen($wide){
            margin-bottom: 20px;
            height: 140px;
          }

          .item-prg {
            transition: 1.5s ease-in-out;
            overflow: hidden;
            color: #F9FB6C;
            font-size: 16px;
            line-height: 24px;
            font-family: Inter-Regular, sans-serif;
            @include screen($wide){
              font-size: 15px;
              line-height: 22px;
            }
            @include screen($desktop){
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

        .buttonBlock{
          .item-button{
            transition: 1.5s ease-in-out;
            @include screen($wide){
              padding: 15px 25px !important;
              font-size: 14px;
            }
          }

        }

      }
    }
  }

  .ball1 {
    fill: lightgray;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 1;
    @include screen($wide){
      width: 30%;
    }
  }

  .ball2 {
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 1;
    @include screen($wide){
width: 20%;
    }
  }

  .ball3 {
    position: absolute;
    right: 0;
    top: 70%;
    @include screen($wide){
width: 20%;
    }
  }

  .vector {
    position: absolute;
    @include screen($wide){
      img{
        height: 70px;
      }
    }

    &:nth-last-child(1) {
      top: 47%;
      left: 17%;
    }

    &:nth-last-child(2) {
      left: 17%;
      transform: scale(1, -1);
    }
  }
}