@import "../../styles/mixin.scss";
.photosCont{
    max-width: 1700px;
  position: relative;
  border-radius: 50px;
  z-index: 22;
  height: 1240px;
  overflow: hidden;
  margin: 150px auto 0 auto;
  @include screen($wide-l){
    width: 100%;
    height: 992px;
  }
  @include screen($wide){
height: 876px;
  }
  @include screen($desktop){
height: 665px;
  }
  @include screen($tablet-w){
    margin: 100px auto 0 auto;
    height: 500px;
  }
  @include screen($tablet-m){
    margin: 80px auto 0 auto;
    height: 400px;
  }
  @include screen($mobile-m){
    margin: 60px auto 0 auto;
    height: 300px;
  }
  .png{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
}