@import "./styles/mixin.scss";
.App{
  background:#161C21;
  overflow: hidden;
}
.pageUp{
  display: block;
  border: none;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 100px;
  z-index: 2999;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  @include screen($tablet-w){
    width: 50px;
    height: 50px;
    svg{
      height: 40px;
      width: 40px;
    }
  }
  @include screen($tablet){
      right: 60px;
  }
  @include screen($tablet-m){
    right: 40px;
    height: 40px;
    width: 40px;
    svg{
      height: 30px;
      width: 30px;
    }
  }

  &:hover{
    background: rgba(255, 255, 255, 0.20);
  }
}

.G-square-button{
  white-space: nowrap;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 11.8px 0 rgba(249, 251, 108, 0.25);
  border-radius: 6px;
  background: #F9FB6C;
  z-index: 1111;
  display: block;
  padding: 15px 100px;
  transition: 0.3s ease-in-out;
  &:hover{
    transition: 0.3s ease-in-out;
    background-color: white !important;
    box-shadow: 0 4px 11.8px 0 rgba(255, 255, 255, 0.25);
  }
}