@import "../../styles/mixin.scss";

.priceCont {
  position: relative;
  background-color: #161C21;
  z-index: 55;
  border-radius: 70px 70px 0 0;
  overflow: hidden;
  @include screen($tablet-l){
    border-radius: 50px 50px 0 0;
  }

  .priceContBck {
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    height: 100%;
  }

  .vector{
    @include screen($wide){
      img{
        height: 70px;
      }
    }
  }

  .overline {
    width: 224px;
    height: 6px;
    background-color: rgba(56, 56, 56, 0.4);
    margin: 0 auto;
    border-radius: 10px;
  }

  .PriceContent {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;

    .overHeaderBlock{
      height: 30px;
      overflow: hidden;

    }
    .priceHeaderBlock{
      height: 120px;
      overflow: hidden;
    }

    .overHeader {
      display: flex;
      align-items: center;
      max-width: 1440px;
      color: #F9FB6C;
      font-family: 'Inter-Medium', sans-serif;
      font-size: 16px;
      transition: 0.5s ease-in-out;
      margin-left: 30px;
      @include screen($wide){
        font-size: 15px;
      }
      @include screen($tablet-l){
        font-size: 14px;
      }
      @include screen($tablet){
        font-size: 13px;
      }

    }

    .priceHeader {
      margin-top: 12px;
      font-size: 42px;
      font-family: Inter-SemiBold, sans-serif;
      background: var(--Text-Gradient, linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 750px;
      transition: 0.5s ease-in-out;
      margin-left: 30px;
      @include screen($wide){
        font-size: 36px;
      }
      @include screen($tablet-l){
        font-size: 32px;
      }
      @include screen($tablet){
        font-size: 26px;
      }


    }

    .PriceBlock {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      @include screen($wide){
        margin-top: 80px;
      }
      @include screen($tablet-l){
        margin-top: 50px;
      }
      @include screen($tablet){
        flex-wrap: wrap;
      }



      .priceItem {
        position: relative;
        margin: 15px;
        border-radius: 20px;
        border: 1px solid rgba(57, 51, 74, 0.50);
        background: rgba(255, 255, 255, 0.03);
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s ease-in-out;
        @include screen($wide){
          width: 300px;
        }
        @include screen($tablet-l){
          width: 250px;
          padding: 5px;
        }
        @include screen($tablet){
          width: 42%;
        }
        @include screen($tablet){
width: 70%;
        }
        @include screen($mobile-m){
          width: 80%;
        }



        &:hover {
          transition: 0.5s ease-in-out;
          transform: scale(1.1);
          margin: 15px 30px;
        }

        .none {
          display: none;
        }

        .checkedText {
          position: absolute;
          top: 15px;
          right: 15px;
          color: #F9FB6C;
          font-family: Inter-Bold, sans-serif;
          font-size: 14px;
          text-shadow: 0 2px 19.799999237060547px rgba(249, 251, 108, 0.15);
          @include screen($tablet-l){
            right: 10px;
            top: 10px;
            font-size: 12px;
          }

        }

        .itemClassBlock{
          margin-top: 40px;
          height: 30px;
          overflow: hidden;
          @include screen($wide){
            margin-top: 30px;
          }

        }
        .itemClass {
          transition: 0.5s ease-in-out;
          font-family: 'Inter-Medium', sans-serif;
          color: white;
          font-size: 18px;
          @include screen($wide){
            font-size: 16px;
          }
          @include screen($tablet-l){
            font-size: 15px;
          }


        }

        .priceBlock{
          height: 50px;
          overflow: hidden;
          margin: 20px auto;
          @include screen($wide){
            margin: 15px auto;
          }
          @include screen($tablet-l){
            margin: 10px auto;
            height: 40px;
          }


        }
        .price {
          font-family: 'Inter-Medium', sans-serif;
          font-size: 42px;
          color: white;
          transition: 0.5s ease-in-out;
          @include screen($wide){
            font-size: 36px;
          }
          @include screen($tablet-l){
            font-size: 28px;
          }


          .month {
            font-size: 18px;
            @include screen($wide){
              font-size: 16px;
            }
            @include screen($tablet-l){
              font-size: 14px;
            }


          }
        }

        .descLayout {
          .itemDescBlock{
            height: 50px;
            overflow: hidden;

            @include screen($wide){
              height: 40px;
            }

          }
          .itemDesc {
            transition: 0.5s ease-in-out;
            color: white;
            font-family: Inter-Regular, sans-serif;
            font-size: 16px;
            display: flex;
            align-items: center;
            @include screen($wide){
              font-size: 15px;
            }
            @include screen($tablet-l){
              font-size: 13px;
            }



          }
        }

        .buttonPurchase {
          margin: 44px auto 32px auto;
          @include screen($wide){
            margin: 30px auto 25px auto;
            padding: 15px 25px !important;
            font-size: 14px;
          }
          @include screen($tablet-l){
            margin: 20px auto;
            font-size: 13px;
            padding: 10px 20px;
          }


        }

      }

      .checked {
        border-radius: 20px;
        border: 1px solid #C5C95C;
        background: rgba(255, 255, 255, 0.03);
      }
    }
  }
}