.Footer {
  position: relative;
  padding-top: 620px;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(180deg, #161C21 0%, #0A0D10 104.29%);

  .footerBall{
    z-index: 2;
    position: absolute;
    right: -200px;
    top: -200px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    opacity: 0.05;
    background: black;
  }

  .footerCont{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    padding: 0 15% 0 5%;
    .footerLine{
      display: flex;
      flex-direction: column;

      .lineHeader{
        font-family: 'Inter-Medium', sans-serif;
        font-size: 20px;
        color: white;
        margin-bottom: 30px;
      }
      .lineItem{
        font-family: 'Inter-Medium', sans-serif;
        color: rgba(255, 255, 255, 0.64);
        font-size: 16px;
        margin-bottom: 15px;
      }

      .logoHeader{
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Inter-SemiBold', sans-serif;
        font-size: 22px;
      }
      .gps{
        margin-top: 15px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-family: 'Inter-Medium', sans-serif;
      }
    }
  }

  .line{
    position: relative;
    z-index: 2;
    max-width: 1440px;
    height: 1px;
    opacity: 0.16;
    background: white;
    margin: 100px auto 0 auto;
  }
  .rightLine{
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    .rightsText{
      font-size: 16px;
      font-family: 'Inter-Medium', sans-serif;
      color: rgba(255, 255, 255, 0.50);
      line-height: 32px;
      cursor: pointer;
    }
    .termsPrivacy{
      display: flex;
      justify-content: space-between;
      width: 25%;
    }
  }
}